system {
    host-name edge_r1;
    root-authentication {
        encrypted-password "$6$EiStR4u5$1qaF/cpNO2Gqlx4aqmoMNvYWmAjD8go/nFN1Ww28q.a8wmjUaNPyIOVbUkaVeOMLZbCBiBsIIepfigdj6i0Ch1";
    }
    login {
        user devbox {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$sLvnrtlP$U47WSTf.x8HAFokb7yjTor6b6Ci7a0yiJeOqAbIX0Ym6gbmXXidRpvvGiyhjQw8pKVrObcfd2lCpC5duP19fh/";
            }
        }
    }
    services {
        ssh;
        netconf {
            ssh {
                port 830;
            }
        }
    }
}
security {
    zones {
        security-zone Trust;
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                address 10.1.3.2/24;
            }
        }
    }
}
