
## Last commit: 2022-11-08 20:51:21 UTC by ansible
version 20200319.130545_builder.r1095278;
system {
    host-name edge_srx_r1;
    root-authentication {
        encrypted-password "$6$saz5fJhm$2EXuEBVGbniSdCyozlZuVzpBEZildmkk.jri5.qCtwR6h3tGnVm8Rj4.h43XBpCmAiCNptstppMJE2XQBPr4K0";
    }
    login {
        class super-user-local {
            idle-timeout 3600;
            permissions all;
        }
        user ansible {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$lBlELLl/$Kne8tbjNN1ILsQzfs1bPzCTALHCPzbJ6sEKizD33z4p/SxH/Yx5F7YJfIGCeLpfA/RoHSpj99mm7zEu3yIDY50";
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCK5tAsUFHjRlUzgn8uVmEoMFhSGnrEy2tFfqSZXwc0zN9lnSSUECPvTt5WV7V2P+jJO20HwfyqpzGSH6O66qfSixjoTDjfxZ3+ZdCLlERcyj04RA/Cj7vo0M6/zyKVTI9cBwhbwSvrNWoWRXdCpaqx5Y+HfcOf2mxijV3e33ZHtYrUZ8xMkEeVdq9fm9vEJTxI4hWLZaunV6324+xcTNvelQt5e79UmcrZfc3QWv1wwz7qzZ2MscAhsAoGySdlxKEQ2ww7WK6k8XX/ddN9mNhXwt06hQIlyvHKECNEbs1h9hsal8UiXOKfwNXytOp9y/aWqcQoq7Vgm1OOoBATXOv7KdITo1mh3t/NwpCSgmsz92NTste35t8CL7EFWJ5dBncToBCumUrk3GA5AA0sZmLNe/zPN51LJwY7hn+ksZQqfz4vIl2Ujl6xZ1TvhtzIHMXaHYYIm1dmAytWtfMGbDolRdL19BhI0xuRlZ+xKXYPaNyajHHdtEGrwU37v+8ZSzirOCvks6V/2Z4HoS+a+6g5tYCmd8QFvmjiIP6rJPPWQufr6t66vJQHk06AjHS1w4CspFcD3X/UA5zWsINWILpAKpPGB+89EGG9LFUJVZdI3iM/UGB8x18zpOqqoNy8BXSiHujHku1l8mP5L113ikTK/znlDduSFjeHWqw0AbCwOQ== user@eve";
            }
        }
        user remote {
            full-name "Any remote";
            uid 2002;
            class super-user-local;
        }
        message "----------------------------------------\n|\n| This banner was generated by Ansible \n|\n----------------------------------------";
    }
    services {
        ssh;
        netconf {
            ssh;
        }
        web-management {
            http {
                interface fxp0.0;
            }
            https {
                system-generated-certificate;
                interface fxp0.0;
            }
        }
    }
    authentication-order [ password tacplus ];
    tacplus-server {
        192.0.2.1 secret "$9$r/hvX-YgJZDkWLGi.m3ntuOREyevLdVY8X";
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus {
                server {
                    192.0.2.1 secret "$9$rD0vX-YgJZDkWLGi.m3ntuOREyevLdVY8X";
                }
            }
        }
    }
    syslog {
        archive;
        user * {
            any emergency;
        }
        host 10.100.102.254 {
            any info;
        }
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
}
security {
    address-book {
        edge {
            address netsvr 10.100.102.254/32;
            address netsvr-v6 2001:db8:102::ffff/128;
            address netsvr-lo 192.0.2.1/32;
            address netsvr-lo-v6 2001:db8:999:beef::1/128;
            address-set external_bgp_peers {
                address netsvr;
                address netsvr-v6;
            }
            address-set netsvr-direct {
                address netsvr;
                address netsvr-v6;
            }
            address-set netsvr-loop {
                address netsvr-lo;
                address netsvr-lo-v6;
            }
            attach {
                zone edge;
            }
        }
        internet {
            attach {
                zone internet;
            }
        }
        internal {
            address internal-rtr 192.0.2.202/32;
            address internal-rtr-v6 2001:db8:902:beef::2/128;
            address-set internal_bgp_peers {
                address internal-rtr;
                address internal-rtr-v6;
            }
            address-set internal-rtr-loop {
                address internal-rtr;
                address internal-rtr-v6;
            }
            attach {
                zone internal;
            }
        }
    }
    nat {
        source {
            rule-set internet-nat {
                description "Internet-facing NAT";
                from zone internal;
                to zone internet;
                rule snat-out {
                    match {
                        destination-address 0.0.0.0/0;
                    }
                    then {
                        source-nat {
                            interface;
                        }
                    }
                }
            }
        }
    }
    policies {
        from-zone internal to-zone edge {
            policy a_tacacs {
                match {
                    source-address any;
                    destination-address netsvr-loop;
                    application junos-tacacs;
                }
                then {
                    permit;
                }
            }
            policy a_syslog {
                match {
                    source-address any;
                    destination-address netsvr-direct;
                    application junos-syslog;
                }
                then {
                    permit;
                }
            }
        }
        from-zone edge to-zone edge {
            policy a_ext_bgp {
                match {
                    source-address external_bgp_peers;
                    destination-address any;
                    application junos-bgp;
                }
                then {
                    permit;
                }
            }
        }
        from-zone edge to-zone junos-host {
            policy a_ext_bgp_host {
                match {
                    source-address external_bgp_peers;
                    destination-address any;
                    application junos-bgp;
                }
                then {
                    permit;
                }
            }
        }
        from-zone internal to-zone internal {
            policy a_int_bgp {
                match {
                    source-address internal_bgp_peers;
                    destination-address any;
                    application junos-bgp;
                }
                then {
                    permit;
                }
            }
            policy a_internet_routing {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }
        from-zone internal to-zone junos-host {
            policy a_int_bgp_host {
                match {
                    source-address internal_bgp_peers;
                    destination-address any;
                    application junos-bgp;
                }
                then {
                    permit;
                }
            }
        }
        global {
            policy all_icmp {
                match {
                    source-address any;
                    destination-address any;
                    application junos-ping;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        security-zone edge {
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                }
                protocols {
                    bgp;
                }
            }
            interfaces {
                ge-0/0/0.102;
            }
        }
        security-zone internet {
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                    dhcp;
                }
            }
            interfaces {
                ge-0/0/1.0;
            }
        }
        security-zone internal {
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                }
                protocols {
                    bgp;
                    ospf;
                    ospf3;
                }
            }
            interfaces {
                ge-0/0/0.202;
                lo0.0;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        description "VLAN Bridge";
        vlan-tagging;
        unit 102 {
            vlan-id 102;
            family inet {
                address 10.100.102.253/24;
            }
            family inet6 {
                address 2001:db8:102::f/64;
            }
        }
        unit 202 {
            vlan-id 202;
            family inet {
                address 10.100.202.254/24;
            }
            family inet6 {
                address 2001:db8:202::a/64;
            }
        }
    }
    ge-0/0/1 {
        description "To the Internet";
        unit 0 {
            family inet {
                dhcp;
            }
        }
    }
    fxp0 {
        description Management;
        unit 0 {
            family inet {
                address 10.1.3.2/24;
                address 10.15.30.33/24;
            }
        }
    }
    lo0 {
        description Loopback;
        unit 0 {
            family inet {
                address 192.0.2.102/32;
            }
            family inet6 {
                address 2001:db8:902:beef::1/128;
            }
        }
    }
}
snmp {
    location "Ansible Home";
    contact Ansible;
    v3 {
        usm {
            local-engine {
                user ansible {
                    authentication-sha {
                        authentication-key "$9$FFqvntuSreK8XeKJGDjq.5QF69pB1hleWz39p0ORE24oaikTz3nCt5T1RcyW8JGUji.5QF/Ap4az36/0OX7N-VYg4ZkqfNd2aGU.mhSyrM8wYgJZjdVHq";
                    }
                    privacy-aes128 {
                        privacy-key "$9$qmfzn/CtpBn6lKMLN-bs2ajHqmfQz6Ygz3n/0OIEcrWLbs2aJDg4Giq.zFKMWX7VwYgZDiKMZUiHmPIEhrM8-dsJZj2g";
                    }
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name ansible {
                        group ansible_group;
                    }
                }
            }
            access {
                group ansible_group {
                    default-context-prefix {
                        security-model any {
                            security-level authentication {
                                read-view all;
                                write-view all;
                            }
                        }
                    }
                }
            }
        }
    }
    view all {
        oid .1;
    }
}
policy-options {
    prefix-list internal_nets {
        10.100.202.0/24;
        192.0.2.102/32;
        192.0.2.202/32;
        2001:db8:902::/64;
        2001:db8:902:beef::1/128;
        2001:db8:902:beef::2/128;
    }
    prefix-list internal_nets_v4 {
        apply-path "policy-options prefix-list internal_nets <[0-9]*.[0-9]*.[0-9]*.[0-9]*>";
    }
    prefix-list internal_nets_v6 {
        apply-path "policy-options prefix-list internal_nets <*:*:*>";
    }
    prefix-list external_nets {
        10.100.102.0/24;
        192.0.2.1/32;
        2001:db8:999:beef::1/128;
    }
    prefix-list external_nets_v4 {
        apply-path "policy-options prefix-list external_nets <[0-9]*.[0-9]*.[0-9]*.[0-9]*>";
    }
    prefix-list external_nets_v6 {
        apply-path "policy-options prefix-list external_nets <*:*:*>";
    }
    policy-statement deny-all {
        then reject;
    }
    policy-statement dhcp_default {
        from protocol access-internal;
        then accept;
    }
    policy-statement external_networks {
        term v4 {
            from {
                protocol bgp;
                prefix-list external_nets_v4;
            }
            then accept;
        }
        term v6 {
            from {
                protocol bgp;
                prefix-list external_nets_v6;
            }
            then accept;
        }
    }
    policy-statement internal_networks {
        term v4 {
            from {
                protocol [ direct ospf ospf3 ];
                prefix-list internal_nets_v4;
            }
            then accept;
        }
        term v6 {
            from {
                protocol [ direct ospf ospf3 ];
                prefix-list internal_nets_v6;
            }
            then accept;
        }
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.102 {
                passive;
            }
            interface ge-0/0/0.202;
            interface ge-0/0/1.0 {
                passive;
            }
            interface lo0.0 {
                passive;
            }
        }
    }
    bgp {
        group NETSVR {
            type external;
            description "Peering to NETSVR";
            hold-time 30;
            log-updown;
            import [ external_networks deny-all ];
            export [ internal_networks deny-all ];
            neighbor 10.100.102.254 {
                description "netsvr-01 IPv4";
                peer-as 65430;
            }
            neighbor 2001:db8:102::ffff {
                description "netsvr-01 IPv6";
                peer-as 65430;
            }
        }
        group IBGP {
            type internal;
            description "IBGP BGP Peering";
            hold-time 30;
            log-updown;
            import [ internal_networks deny-all ];
            export [ dhcp_default external_networks deny-all ];
            neighbor 192.0.2.202 {
                description "junos-02 IPv4";
                local-address 192.0.2.102;
            }
            neighbor 2001:db8:902:beef::2 {
                description "junos-02 IPv6";
                local-address 2001:db8:902:beef::1;
            }
        }
        local-as 65102;
    }
    ospf3 {
        area 0.0.0.0 {
            interface ge-0/0/0.102 {
                passive;
            }
            interface ge-0/0/0.202;
            interface lo0.0 {
                passive;
            }
        }
    }
}
routing-options {
    router-id 192.0.2.102;
}
