
## Last commit: 2022-11-08 20:51:21 UTC by ansible
version 20200319.130545_builder.r1095278;
system {
    host-name edge_srx_r2;
    root-authentication {
        encrypted-password "$6$IlEKCSWY$60IpjACav9UWQ9GbYmIQXEa/8sXva2m2No7gKmuLViowDTJGJDBuQneDHauRCCsJc9dLDUPjn.toh241tPu3d0";
    }
    login {
        class super-user-local {
            idle-timeout 3600;
            permissions all;
        }
        user ansible {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$kgkIVzQy$ykmWTD4IUsDYF/C3TJpFbhC/gHYVtfFdS3l/8oBgILufZHCMHYWLRTO8DqTbBkmVfNxL5j2oQUgSrIkHoQOoT.";
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCK5tAsUFHjRlUzgn8uVmEoMFhSGnrEy2tFfqSZXwc0zN9lnSSUECPvTt5WV7V2P+jJO20HwfyqpzGSH6O66qfSixjoTDjfxZ3+ZdCLlERcyj04RA/Cj7vo0M6/zyKVTI9cBwhbwSvrNWoWRXdCpaqx5Y+HfcOf2mxijV3e33ZHtYrUZ8xMkEeVdq9fm9vEJTxI4hWLZaunV6324+xcTNvelQt5e79UmcrZfc3QWv1wwz7qzZ2MscAhsAoGySdlxKEQ2ww7WK6k8XX/ddN9mNhXwt06hQIlyvHKECNEbs1h9hsal8UiXOKfwNXytOp9y/aWqcQoq7Vgm1OOoBATXOv7KdITo1mh3t/NwpCSgmsz92NTste35t8CL7EFWJ5dBncToBCumUrk3GA5AA0sZmLNe/zPN51LJwY7hn+ksZQqfz4vIl2Ujl6xZ1TvhtzIHMXaHYYIm1dmAytWtfMGbDolRdL19BhI0xuRlZ+xKXYPaNyajHHdtEGrwU37v+8ZSzirOCvks6V/2Z4HoS+a+6g5tYCmd8QFvmjiIP6rJPPWQufr6t66vJQHk06AjHS1w4CspFcD3X/UA5zWsINWILpAKpPGB+89EGG9LFUJVZdI3iM/UGB8x18zpOqqoNy8BXSiHujHku1l8mP5L113ikTK/znlDduSFjeHWqw0AbCwOQ== user@eve";
            }
        }
        user remote {
            full-name "Any remote";
            uid 2002;
            class super-user-local;
        }
        message "----------------------------------------\n|\n| This banner was generated by Ansible \n|\n----------------------------------------";
    }
    services {
        ssh;
        netconf {
            ssh {
                port 830;
            }
        }
    }
    authentication-order [ password tacplus ];
    tacplus-server {
        192.0.2.1 secret "$9$VhYaUqmTQ39goz6AtRElKMXxdwYoDjq4a";
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus {
                server {
                    192.0.2.1 secret "$9$YpoUHfT3n9pJG6A0OSyM8X-dsgoGkqfZU";
                }
            }
        }
    }
    syslog {
        archive;
        host 10.100.102.254 {
            any info;
        }
    }
}
security {
    address-book {
        internal {
            address edge-rtr 192.0.2.102/32;
            address edge-rtr-v6 2001:db8:902:beef::1/128;
            address-set internal_bgp_peers {
                address edge-rtr;
                address edge-rtr-v6;
            }
            address-set internal-rtr-loop {
                address edge-rtr;
                address edge-rtr-v6;
            }
            attach {
                zone internal;
            }
        }
    }
    policies {
        from-zone internal to-zone internal {
            policy a_int_bgp {
                match {
                    source-address internal_bgp_peers;
                    destination-address any;
                    application junos-bgp;
                }
                then {
                    permit;
                }
            }
        }
        from-zone internal to-zone junos-host {
            policy a_int_bgp_host {
                match {
                    source-address internal_bgp_peers;
                    destination-address any;
                    application junos-bgp;
                }
                then {
                    permit;
                }
            }
        }
        global {
            policy all_icmp {
                match {
                    source-address any;
                    destination-address any;
                    application junos-ping;
                }
                then {
                    permit;
                }
            }
        }
    }
    zones {
        security-zone internal {
            host-inbound-traffic {
                system-services {
                    ping;
                    traceroute;
                }
                protocols {
                    bgp;
                    ospf;
                    ospf3;
                }
            }
            interfaces {
                ge-0/0/0.202;
                lo0.0;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        description "VLAN Bridge";
        vlan-tagging;
        unit 202 {
            vlan-id 202;
            family inet {
                address 10.100.202.253/24;
            }
            family inet6 {
                address 2001:db8:202::f/64;
            }
        }
    }
    fxp0 {
        description Management;
        unit 0 {
            family inet {
                address 10.1.2.2/24;
                address 10.15.30.34/24;
            }
        }
    }
    lo0 {
        description Loopback;
        unit 0 {
            family inet {
                address 192.0.2.202/32;
            }
            family inet6 {
                address 2001:db8:902:beef::2/128;
            }
        }
    }
}
snmp {
    location "Ansible Home";
    contact Ansible;
    v3 {
        usm {
            local-engine {
                user ansible {
                    authentication-sha {
                        authentication-key "$9$95krtBIhclMLxcSMXxNY2GDi.QF/CtpO1Qz6A0BEhKM8x7VoJG.fTDjkPQzCAevMXxd4aZjk.4o/CAtOBxN-db2aZUjqm8X-w2gUD69CAO1EcyeK8cSYg";
                    }
                    privacy-aes128 {
                        privacy-key "$9$fzF/uO1cSefTF/9tOBwY24Diqmf6CtPfylKMXx.Pf5n/p0BIRStpRSlK8LxNdwYok.Pfz3PfEcrlMWaZGimfz36pO1Uj";
                    }
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name ansible {
                        group ansible_group;
                    }
                }
            }
            access {
                group ansible_group {
                    default-context-prefix {
                        security-model any {
                            security-level authentication {
                                read-view all;
                                write-view all;
                            }
                        }
                    }
                }
            }
        }
    }
    view all {
        oid .1;
    }
}
policy-options {
    prefix-list external_nets {
        10.100.102.0/24;
        192.0.2.1/32;
        2001:db8:999:beef::1/128;
    }
    prefix-list external_nets_v4 {
        apply-path "policy-options prefix-list external_nets <[0-9]*.[0-9]*.[0-9]*.[0-9]*>";
    }
    prefix-list external_nets_v6 {
        apply-path "policy-options prefix-list external_nets <*:*:*>";
    }
    prefix-list internal_nets {
        10.100.202.0/24;
        192.0.2.102/32;
        192.0.2.202/32;
        2001:db8:902::/64;
        2001:db8:902:beef::1/128;
        2001:db8:902:beef::2/128;
    }
    prefix-list internal_nets_v4 {
        apply-path "policy-options prefix-list internal_nets <[0-9]*.[0-9]*.[0-9]*.[0-9]*>";
    }
    prefix-list internal_nets_v6 {
        apply-path "policy-options prefix-list internal_nets <*:*:*>";
    }
    prefix-list default_route {
        0.0.0.0/0;
    }
    prefix-list default_route_v4 {
        apply-path "policy-options prefix-list default_route <[0-9]*.[0-9]*.[0-9]*.[0-9]*>";
    }
    prefix-list default_route_v6 {
        apply-path "policy-options prefix-list default_route <*:*:*>";
    }
    policy-statement default_route {
        term v4 {
            from {
                protocol bgp;
                prefix-list default_route_v4;
            }
            then accept;
        }
        term v6 {
            from {
                protocol bgp;
                prefix-list default_route_v6;
            }
            then accept;
        }
    }
    policy-statement deny-all {
        then reject;
    }
    policy-statement external_networks {
        term v4 {
            from {
                protocol bgp;
                prefix-list external_nets_v4;
            }
            then accept;
        }
        term v6 {
            from {
                protocol bgp;
                prefix-list external_nets_v6;
            }
            then accept;
        }
    }
    policy-statement internal_networks {
        term v4 {
            from {
                protocol bgp;
                prefix-list internal_nets_v4;
            }
            then accept;
        }
        term v6 {
            from {
                protocol bgp;
                prefix-list internal_nets_v6;
            }
            then accept;
        }
    }
}
protocols {
    ospf {
        area 0.0.0.0 {
            interface ge-0/0/0.202;
            interface lo0.0 {
                passive;
            }
        }
    }
    bgp {
        group IBGP {
            type internal;
            description "IBGP BGP Peering";
            hold-time 30;
            log-updown;
            import [ internal_networks external_networks default_route deny-all ];
            export [ internal_networks deny-all ];
            neighbor 192.0.2.102 {
                description "junos-02 IPv4";
                local-address 192.0.2.202;
            }
            neighbor 2001:db8:902:beef::1 {
                description "junos-02 IPv6";
                local-address 2001:db8:902:beef::2;
            }
        }
        local-as 65102;
    }
    ospf3 {
        area 0.0.0.0 {
            interface ge-0/0/0.202;
            interface lo0.0 {
                passive;
            }
        }
    }
}
routing-options {
    router-id 192.0.2.202;
}
