{% for interface in interfaces %}
{% if interface['zone'] is defined %}
set security zones security-zone {{ interface['zone'] }} interfaces {{ interface['name'] }}.{{ interface['unit'] }}
{% endif %}
{% endfor %}