delete security zones security-zone trust
delete security zones security-zone untrust
delete security screen ids-option untrust-screen
delete security policies from-zone trust to-zone trust policy default-permit
delete security policies from-zone trust to-zone untrust policy default-permit